# mac
*.DS_Store

# models
yolov7/pretrained_models
models

# pycache
**/__pycache__

# cache
yolov7/data/*.cache

# runs
yolov7/runs

# .idea
.idea

# check.py
check.py

# inae_note kkk
yolov7/inae_note

# pretrained models
yolov7/pretrained_models

# background images
backgrounds

# video results
results
